.icon-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.season-display.winter i {
    color: #7d87b8;
}

.season-display.summer i {
    color: #fada82;
}

.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.winter {
    background-image: url("https://ak2.picdn.net/shutterstock/videos/23048782/thumb/1.jpg?i10c=img.resize(height:160)");
    background-size: cover;
    background-position: bottom;
}

.summer {

    background-image: url("https://ak2.picdn.net/shutterstock/videos/6208502/thumb/1.jpg");
    background-size: cover;
    background-position: bottom;

}

h1 {
    color: antiquewhite ;
    background-color: #404047;
    border-radius: 8px;
    padding: 5px;
}